<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1><%= t("welcome_greeting") %> <%= current_user.Name %></h1>
        <h2>
          <a href="https://github.com/vkylamba/go-goals"><i class="fab fa-github" aria-hidden="true"></i> https://github.com/vkylamba/go-goals</a>
        </h2>
        <h2 class="documentation">
          <a href="http://gobuffalo.io/"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a>
        </h2>
      </div>
    </div>
  </div>

</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Tasks for <%= time_window %>
          <div class="float-end">
            <%= linkTo("/goals", {class: "btn btn-info"}) { %>
              Goals
            <% } %>
            <%= linkTo("/milestones", {class: "btn btn-info"}) { %>
              Milestones
            <% } %>
            <%= linkTo("/tasks", {class: "btn btn-info"}) { %>
              Tasks
            <% } %>
          </div>
        </h3>
        <p><p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <th>Goal</th>
          <th>Milestone</th>
          <th>Title</th>
          <th>Completion Percentage</th>
          <th>TargetDate</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <%= for (task) in tasks { %>
            <tr class="task-item priority-<%= priorityIdsToNameMapping[task.Priority.Int] %>">
              <td class="align-middle">
                <%= linkTo(editGoalPath({ goal_id: task.GoalID }), {class: "link", body: goalIdsToNameMap[task.GoalID.String()]}) %>
              </td>
              <td class="align-middle">
                <%= if (task.MilestoneID) { %>
                  <%= linkTo(editMilestonePath({ milestone_id: task.MilestoneID }), {class: "link", body: milestoneIdsToNameMap[task.MilestoneID.String()]}) %>
                <% } else { %>
                  Unknown
                <% } %>
              </td>
              <td class="align-middle"><%= task.Title %></td>
              <td class="align-middle"><%= task.CompletionFactor %></td>
              <td class="align-middle"><%= task.TargetDate %></td>
              <td>
                <button class="btn" onclick="navigateToTask('<%=task.ID%>')"><i class="fa fa-eye"></i></button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="foot"> <span> Powered by <a href=""></a></span> </div>
<script>
  function navigateToTask(taskId) {
    window.location = `/tasks/${taskId}/edit`;
  }
</script>