<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1><%= t("welcome_greeting") %> <%= current_user.Name %></h1>
        <h2>
          <a href="https://github.com/vkylamba/go-goals"><i class="fab fa-github" aria-hidden="true"></i> https://github.com/vkylamba/go-goals</a>
        </h2>
        <h2 class="documentation">
          <a href="http://gobuffalo.io/"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a>
        </h2>
      </div>
    </div>
  </div>

</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Milestones
          <div class="float-end">
            <%= linkTo("/", {class: "btn btn-info"}) { %>
              Home
            <% } %>
            <%= linkTo("/goals", {class: "btn btn-info"}) { %>
              Goals
            <% } %>
            <%= linkTo("/tasks", {class: "btn btn-info"}) { %>
              Tasks
            <% } %>
            <%= linkTo(newMilestonesPath(), {class: "btn btn-primary"}) { %>
              Create New Milestone
            <% } %>
          </div>
        </h3>
        <p><p>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Goal</th><th>Title</th><th>ContributionFactor</th><th>TargetDate</th><th>Priority</th><th>Tags</th><th>Active</th><th>Public</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (milestone) in milestones { %>
      <tr>
        <td class="align-middle"><%= goalIdsToNameMap[milestone.GoalID.String()] %></td>
        <td class="align-middle"><%= milestone.Title %></td>
        <td class="align-middle"><%= milestone.ContributionFactor %></td>
        <td class="align-middle"><%= milestone.TargetDate %></td>
        <td class="align-middle">
          <%= if (milestone.Priority.Valid) { %>
            <p class="d-inline-block"><%= priorityIdsToNameMapping[milestone.Priority.Int] %></p>
          <% } else { %>
            <p class="d-inline-block">Unknown</p>
          <% } %>
        </td>
        <td class="align-middle"><%= milestone.Tags %></td>
        <td class="align-middle">
          <%= if (milestone.Active.Bool) { %>
            <p class="d-inline-block">&#10004;</p>
          <% } else { %>
            <p class="d-inline-block">&#10060;</p>
          <% } %>
        </td>
        <td class="align-middle">
          <%= if (milestone.Public.Bool) { %>
            <p class="d-inline-block">&#10004;</p>
          <% } else { %>
            <p class="d-inline-block">&#10060;</p>
          <% } %>
        </td>
        <td>
          <div class="float-end">
            <%= linkTo(milestonePath({ milestone_id: milestone.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editMilestonePath({ milestone_id: milestone.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(milestonePath({ milestone_id: milestone.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
