<div class="py-4 mb-2">
  <h3 class="d-inline-block">Users</h3>
  <div class="float-end">
    <%= linkTo(newUsersPath(), {class: "btn btn-primary"}) { %>
      Create New User
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>UserID</th>
    <th>Name</th>
    <th>Is Superuser</th>
    <th>Active</th>
    <th>Public</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (user) in users { %>
      <tr>
        <td class="align-middle"><%= user.ID %></td>
        <td class="align-middle"><%= user.Name %></td>
        <td class="align-middle">
          <%= if (user.IsSuperuser.Bool) { %>
            <p class="d-inline-block">&#10004;</p>
          <% } else { %>
            <p class="d-inline-block">&#10060;</p>
          <% } %>
        </td>
        <td class="align-middle">
          <%= if (user.Active.Bool) { %>
            <p class="d-inline-block">&#10004;</p>
          <% } else { %>
            <p class="d-inline-block">&#10060;</p>
          <% } %>
        </td>
        <td class="align-middle">
          <%= if (user.Public.Bool) { %>
            <p class="d-inline-block">&#10004;</p>
          <% } else { %>
            <p class="d-inline-block">&#10060;</p>
          <% } %>
        </td>
        <td>
          <div class="float-end">
            <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
